@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-1440 px-5 mx-auto;
  }

  /* present btn-group */
  .preset-container {
    @apply flex items-center gap-4 p-4 text-white text-sm font-semibold;
  }

  .preset-group {
    @apply flex bg-[#1F1F27] rounded-xl p-1;
  }

  .preset-btn {
    @apply px-3 py-1.5 rounded-lg text-gray-400 hover:bg-[#2D2D38] hover:text-white transition;
  }

  .preset-btn-active {
    @apply px-3 py-1.5 rounded-lg bg-[#2D2D38] text-white font-semibold;
  }
}

html {
  font-family: "Inter", sans-serif;
  @apply text-white;
}

input {
  @apply bg-transparent outline-none;
}

span {
  @apply inline-block;
}

/* header */

header .tabs-list button {
  @apply bg-transparent rounded-lg py-1 px-2 text-header-text;
}
header .tabs-list button.active {
  @apply bg-primary text-[#fcfcf9] rounded-lg py-1 px-2;
}

/* nice select */
.nice-select {
  background-color: transparent !important;
  border-radius: 8px !important;
  border: 2px solid #494e5b80 !important;
  min-width: 120px;
}

.nice-select .option {
  background-color: #161327;
  color: white;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected {
  background-color: #2e2b3f !important;
}

/* table */
.table-container {
  overflow-x: auto;
}
.status-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status-green {
  background-color: rgba(16, 185, 129, 0.1);
  color: #10b981;
}
.status-orange {
  background-color: rgba(249, 115, 22, 0.1);
  color: #f97316;
}
/* Add border styles */
th,
td {
  border-right: 1px solid #374151;
}
th:last-child,
td:last-child {
  border-right: none;
}
tr {
  border-bottom: 1px solid #374151;
}
thead tr {
  border-bottom: 2px solid #374151;
}


.btn-outlined {
  border: 2px solid #494e5b80;
  min-width: 140px;
  padding: 10px;
  border-radius: 8px;
}